body{
    font-family: 'Nunito', sans-serif;
}

:root {
    --main-color: #00A2AD;
    --nav:#028892;
    --buttons: #FDD65D;
    --details:#F6A800;
  }


#NAV{
    background-color: var( --nav)!important
  
}

a {
    color: white!important;
    font-size: large;
}

#Logo{
    width: 70px;
    background-color: #028892!important;
    border:none;
}

a{ 
    text-decoration: none;
}

#header{
    background-color: var(--main-color);
    min-height:80vh;
}

#contactobo{
    background:var(--buttons);
    border: 1px solid var(--buttons);
    font-weight: bold;
    margin-top: 10px;
}

#serviciosbo{
    background-color: transparent;
    border: 2px solid var(--buttons);
    color: var(--buttons);
    font-weight: bold;
    margin-top: 10px;
}


#header h1{
    color: white!important;
    justify-content: center;
  
}



#header p{
    color: white!important;
    text-align:justify;
}

#nosotros {
    background-color: white;
    color: var(--details);
    min-height:50vh;
}

.card{
    color: rgb(58, 58, 58);
    margin-top: 20px;
    margin-right:auto;
    margin-left:auto;
 
}

.card:hover {
    transform: translateY(-50px)
}
#servicios {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--buttons);
    background-image:url(./img/veterinarian.jpg) ;
    background-blend-mode: multiply;
    background-position: center;
    background-attachment:scroll;
}


#servicios img{
    width: 50%;
}

.show{
    opacity: 0;
    transition: all 1s;;
}

.up{
    animation: up 1s;
}

@keyframes up {
    0% {
        transform: translateY(60px);
    }
    100%{ 
        transform: translateY(0);
    }
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }


  .send{
      background-color: var(--main-color)!important;
      border: 1px solid var(--main-color)!important;
      font-weight: bold;
  }

  footer{
      background-color: var(--main-color)!important;
      color: white!important;
  }


 
  @media only screen and (max-width: 568px) {
    #servicios img{
        width: 35%;
        margin-top: 25px;
    }

    #nosotros{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card{
        margin-top: 20px;
        margin-right:auto;
        margin-left:auto;
    }

    
   
  }