body{
    font-family: 'Nunito', sans-serif;
}

:root {
    --main-color: #00A2AD;
    --nav:#028892;
    --buttons: #FDD65D;
    --details:#F6A800;
  }


#NAV{
    background-color: var( --nav)!important
  
}

a {
    color: white!important;
    font-size: large;
}

#Logo{
    width: 70px;
    background-color: #028892!important;
    border:none;
}

a{ 
    text-decoration: none;
}

#header{
    background-color: var(--main-color);
    min-height:80vh;
}

#contactobo{
    background:var(--buttons);
    border: 1px solid var(--buttons);
    font-weight: bold;
}

#serviciosbo{
    background-color: transparent;
    border: 2px solid var(--buttons);
    color: var(--buttons);
    font-weight: bold;
}


#header h1{
    color: white!important;
    justify-content: center;
  
}



#header p{
    color: white!important;
    text-align:justify;
}

#nosotros {
    background-color: white;
    color: var(--details);
    min-height:50vh;
}

.card{
    color: rgb(58, 58, 58);
 
}


#servicios {
 
    background-size: 100%;
    background-color: var(--buttons);
    background-image:url(./img/veterinarian.jpg) ;
    background-blend-mode: multiply;
    background-position: center;
    background-attachment:scroll;
}


#servicios img{
    width: 50%;
}



.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }


  .send{
      background-color: var(--main-color)!important;
      border: 1px solid var(--main-color)!important;
      font-weight: bold;
  }

  footer{
      background-color: var(--main-color)!important;
      color: white!important;
  }